<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>110119025_</title>
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/animate.css">
  <link rel="stylesheet" href="assets/css/style.css">

</head>
<body>

    <div class="loop"id="main">
      <div class="row">
          <% for(var i=0; i<Picture.length; i++) { %>
            <div class="col-md-3">
              <h3><%=Tittle[i]%></h3>
              <img class="img-responsive" src="assets/images/<%=Picture[i]%>.jpg">
            </div>
          <% } %>
      </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/script.js"></script>

</body>
</html>
